body{
	margin: auto;
	padding: 30px; 
	width: 1000px;
	background-color: #ececec;
	color: #484848;
}


section{
	display: inline-block;

}

a{
	text-decoration: none;	
	color: #74a5aa;
	font-weight: 700;
}

a:hover {
    color: #b11f9b;
} 

main {
	display: inline-block;
	padding: 20px 0;
	clear: both;			
}

section {
	width: 465px;
	margin: 20px 20px 20px 0;
}

h1{
	font-family: arial;
	font-size: .9em;
	letter-spacing: .065em;
	line-height: 1.2em;
	font-weight: 700;
    text-transform: uppercase;
	text-align: center;
	width: 161px;
	margin: 10px 0;
/*	display: inline-block;
	padding: 0 20px;*/
}

h2{
	font-family: Georgia, serif;
	font-size: 1em;
	font-weight: 300;
	margin: 0.75em 2px 0px 0px;
}

em{
	font-family: Georgia, serif;
	font-weight: 700;
}

h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
	font-weight: 700;
	margin: .75em 0;
}

h4{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
}

p{
	font-family: georgia;
	font-size: 1.25em;
	font-style: italic;
	line-height: 1.25em;
	width: 400px;
	margin: .8em 0;

}

footer{
	border-top: .25em solid #828282;
	padding: 10px 0;
	margin: 20px 0;
}

#logo{
	float: left;
}

#navbar{
	width: 452px;
	display: inline;
	float: right;
	padding: 50px 30px;
}

#navbar li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	text-decoration: none;
	display: inline;

}

#navbar li a{
	padding: 10px 0px;
	margin: 0px 20px;
	border-bottom: 4px solid;
}

#subnav{
	width: 452px;
	float: left;
}

#subnav li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 300px;
	text-decoration: none;
	display: inline;
	margin: 0px 40px 0px 0px;
}

#rightMovie{
	float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

