body{
	background-color: #d4cec6;
	color: black;
	font-size: 15px;
}

main {
	width: 100%;
	margin: 50px auto;
	display: block;
}

header {
	margin: 70px auto 10px auto;
	width: 80%;
}


nav {
	width: 100%;
	margin: 0px auto;
}


nav li{
	width: 20%;
	margin: 0px 15%;
	display: inline-block;
	font-family: 'Roboto', sans-serif, helvetica;
	letter-spacing: .15em;
	color: black;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
}

nav li a{
	text-decoration: none;
	color: black;
	padding: 20px;
	background-color: #d4cec6;
}

nav li a:hover{
	color: #a83831;
}

section {
	width: 80%;
	margin: 70px auto 10px auto;
}

h2 {
	width: 97%;
	padding: 5px 0;
	margin: 40px auto 20px auto;
	border-top: 4px solid black;
	font-family: 'Roboto', sans-serif, helvetica;
	letter-spacing: .1em;
	font-size: .8em;
	text-transform: uppercase;
	line-height: 1.25em;
}

h2 em{
	font-weight: 700;
}

figure {
	width: 30%;
	float: left;
	margin: 20px 1.66%;
}

figure.oped{
	width: 46.5%;
	float: left;
	margin: 30px 1.66%;
}

figure img{
	width: 100%;
	height: auto;
	transition: all .2s ease-in-out; 

}

figure img:hover {
	box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
	transform: scale(1.1);
}


figcaption {
	font-family: 'Roboto', sans-serif, helvetica;
	letter-spacing: .01em;
	font-size: .9em;
	margin: 6px 0px;
	font-weight: 500;
	color: rgba(0,0,0,.5);
}

figcaption a{
	font-weight: 700;
	text-decoration: none;
	color: rgba(0,0,0,.5);
}

figcaption a:hover{
	color: #a83831;
}

footer {
	width: 80%;
	margin: 30px auto 10px auto;
}


footer p {
	width: 97%;
	padding: 5px 0;
	margin: 40px auto 20px auto;
	border-top: 4px solid black;
	font-family: 'Roboto', sans-serif, helvetica;
	font-size: .8em;
	line-height: 1.25em;
}

#logo {
	display: block;
	margin: -15px auto;	
}

#video {
	width: 60%;
	height: 650px;
	margin: 20px 1.66%;
	float: right;
}


#videoSummary {
	width: 27%;
	margin: 30px 1.66%;
	font-family: Georgia, serif;
	font-size: 1.35em;
	font-weight: 500;
	line-height: 1.5em;
	color: #58514A;
}



.about{
	text-align: right;
}

.contact {
	float: right;
}


.overAbout, .overContact {
	display: none;
	margin: 8px auto;
}

.overAbout p, .overContact p{
	font-family: 'Roboto', sans-serif, helvetica;
	font-size: 1.75em;
	margin: 30px auto;
	font-weight: 500;
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 0.02em;
	padding-left: 30%;
	padding-right: 30%;
	color: #58514A;

}

.overAbout p a, .overContact p a{
	text-decoration: none;
	color: black;
	font-weight: 700;
}

.overAbout p a:hover, .overContact p a:hover{
	color: #a83831;
}


.overAbout p em, .overContact p em{
	font-weight: 700;
}


.about span {
display: block;
width: 19px;
height: 3px;
margin: 4px 0;
background: rgb(0,0,0);
z-index: 99;
}


.expand {
display: block !important;
}



.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}



/* for 988px or less */

@media only screen and (max-width: 988px) {

	header {
		margin: 0px auto;
	}

	nav li {
		width: 20%;
		margin: 0px 10%;
	}

	figure {
	width: 47%;
	margin: 25px 1.5%;
	}

/*	h2 {
	width: 97%;
	}*/

	footer {
	width: 90%;
}


footer p {
	width: 97%;
}

figure img{
	transition: none; 

}

figure img:hover {
	box-shadow: none;
	transform: scale(1);
}

.overAbout p, .overContact p{
	padding-left: 20%;
	padding-right: 20%;
}

}


#video {
	height: 380px;
}


#videoSummary {
	font-size: 1.1em;
	line-height: 1.5em;
	width: 31%;
	margin: 30px 1.66%;

}


@media only screen and (max-width: 600px) {

	main {
		margin: 30px auto;
	}

	header {
	margin: 0px 2.5%;
	width: 90%;
	}

	nav li {
	width: 38%;
	margin: 10px 6%;
	}

	nav li a{
	padding: 10px;
	}


	figure {
	float: none;
	width: 97%;
	margin-bottom: 50px;
	}

	figure.oped{
	width: 97%;
	float: none;
	margin-bottom: 50px;
}

	h2 {
	margin: 25px auto 20px auto;
	}

	h2 em{
	display: block;
}

	section {
	margin: 0px auto 10px auto;
	width: 90%;
	}

	#logo {
	margin: 0px auto 20px auto;
	display: block;
	}

.overAbout p, .overContact p{
	font-family: 'Roboto', sans-serif, helvetica;
	font-size: 1.1em;
	margin: 10px auto;
	font-weight: 500;
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 0.02em;
	padding-left: 10%;
	padding-right: 10%;
}

#video {
	width: 95%;
	height: 350px;
	margin: 20px 2.66%;
	float: none;
}


#videoSummary {
	width: 90%;
	margin: 10px 2.66%;
	font-size: 1.1em;
	line-height: 1.5em;
}

	
>>>>>>> origin/master
}


#videoSummary {
	width: 90%;
	margin: 10px 2.66%;
	font-size: 1.1em;
	line-height: 1.5em;
}

	
}
