body {
background-color: #fffabf;
margin: 50px;
background-image: url("images/overlay1280.png");
color: rgb(0,0,180);

}

h1 {
font-family: 'Georgia';
font-size: 30px;
font-weight: normal;
}

h3 {
	font-size: 20px;
	font-weight: 900;
}

p {
font-family: 'Georgia';
font-size: 18px;
line-height: 150%;
}

a {
color: red;
}

ul {
	padding-left: 0;
	margin-left: 1.2em; 
}

#slogan{
	font-family: helvetica;
}

.date{
	font-family: helvetica;
	font-size: 12px;
	font-weight: normal;
	border-bottom-style: solid;
	border-bottom-width: 5px;
}

.tags{
	font-family: helvetica;
	font-size: 12px;
	font-weight: bold;
}


