body {
	background-color: #fffabf;
	margin: 50px;
/*	background: url("../images/overlay1280.png") no-repeat center center fixed;
*/	background-size: cover;
	color: #0000B4;
}

h1 {
	font-family: 'Alegreya', serif, 'Georgia';
	font-size: 2em;
	font-weight: 400;
	line-height: 1.3em;
}

h3 {
	font-family: 'Alegreya', serif, 'Georgia';
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.5em;
}

p {
	font-family: 'Alegreya', serif, 'Georgia';
	font-size: 1.25em;
	line-height: 1.5em;
	margin: 5,0;
}

a {
	color: #E10000;
}

a:hover {
    color: #DDACAC;
} 

a:visited {
    color: #0099B2;
} 

ul {
	padding-left: 0;
	margin-left: 1.2em; 
	margin-top: 0;
}

hr{
	margin: 7px 0px;
	border: none;
	width: 20px;
	height: 5px;
	background-color: #0000B4;  
	padding: 0;
}

em {
	font-family: 'Alegreya', serif, 'Georgia';
	font-weight: 400italic;
}

.clearfix:after {   
	visibility: hidden;   
	display: block;   
	font-size: 0;   
	content: " ";   
	clear: both;   
	height: 0; 
}

.date{
	font-family: 'Roboto', sans-serif, helvetica;
	font-size: .75em;
	font-weight: 400;
	width: 80px;
	padding-bottom: 0;
	margin: auto auto 10px 83px;
}


#top{
	width:100%;
	margin: 0 auto;
	display: block;
}

#intro {
	width: 550px;
	margin: 83px auto auto 83px;
	float: left;
}

#hand{
	width: 372px;
	float: left;
}

#mainline{
	width: 400px;
	height:6px;
	background: #0000B4;
	border-bottom: 4px solid #0000B4;
	margin: auto auto 70px 220px;
	float: left;
}

/*#dateTags{
	margin-top: 200px;
}*/

#dateline{
	width: 20px;
	height:6px;
	background: #0000B4;
	border-bottom: 4px solid #0000B4;
	margin: auto auto 10px 83px;
}

#tags{
	font-family: 'Roboto', sans-serif, helvetica;
	font-size: .75em;
	font-weight: 700;
	line-height: 1.5em;
	margin: auto auto 70px 83px;
	width: 10em;
	float: left;
}



#ledePost{
	width: 30em;
/*	margin: auto auto auto 220px;
*/	margin: auto auto 10px 220px;

/*	float: left;
*/}




