body {
	background-color: #fffabf;
	margin: 50px;
/*	background: url("../images/overlay1280.png") no-repeat center center fixed;
*/	background-size: cover;
	color: #0000B4;
}

h1 {
	font-family: 'Alegreya', serif, 'Georgia';
/*	font-family: 'Georgia';
*/	font-size: 1.75em;
	font-weight: normal;
	line-height: 1.3em;
}

h3 {
	font-family: 'Alegreya', serif, 'Georgia';
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.5em;
}

p {
	font-family: 'Alegreya', serif, 'Georgia';
	font-size: 1.25em;
	line-height: 1.5em;
	margin: 5,0;
}

a {
	color: #E10000;
}

a:hover {
    color: black;
} 

a:visited {
    color: #0099B2;
} 

ul {
	padding-left: 0;
	margin-left: 1.2em; 
	margin-top: 0;
}

hr{
	margin: 7px 0px;
	border: none;
	width: 20px;
	height: 5px;
	background-color: #0000B4;  
	padding: 0;
}

.clearfix:after {   
	visibility: hidden;   
	display: block;   
	font-size: 0;   
	content: " ";   
	clear: both;   
	height: 0; 
}

#top{
	width:100%;
	margin: 0 auto;
	display: block;
}

#intro {
	width: 500px;
	margin: 83px auto auto 83px;
	float: left;
}

#hand{
	width: 372px;
	float: left;
}

#mainline{
	width: 100px;
	height:6px;
	background: rgb(0,0,180);
	border-bottom: 4px solid #0000B4;
	margin: auto auto 70px 220px;
	float: left;
}


#ledePost{
	width: 30em;
	margin: auto auto auto 220px;
/*	float: left;
*/}



.date{
	font-family: 'Roboto', sans-serif, helvetica;
/*	font-family: helvetica;
*/	font-size: .75em;
	font-weight: 400;
/*	border-bottom-style: solid;
	border-bottom-width: 5px;*/
	width: 80px;
	padding-bottom: 0;
	margin: 0;
/*	letter-spacing: 1px;

*/}

#tags{
	font-family: 'Roboto', sans-serif, helvetica;
	font-size: .75em;
	font-weight: 700;
	line-height: 1.5em;
	margin: 0;
	width: 10em;
}


